extends layout

block content
  h1= title
  form(action='/users/login' method='POST')
    input(type="text" name="username" placeholder="Username")
    input(type="password" name="password" placeholder="Password")
    button(type="submit") ログイン
